/*
Block 

-take full width
-add line break
-respect padding margin width height


inline
-do not add line break
-non respect width height
-respect [ padding+margin ] left right only



inline-block
-Allow element before and 
-respect padding margin width height




*/

div{
    background-color: red;
    padding: 10px;
    margin: 10px;
}

span{
    background-color: red ;
    width: 400px;
    height: 400px;
    /* display: block;*/
}